@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --fogo: #FDDFDF;
    --planta: #DEFDE0;
    --eletrico: #FCF7DE;
    --agua: #DEF3FD;
    --terrestre: #f4e7da;
    --rocha: #d5d5d4;
    --fada: #fceaff;
    --venenoso: #98d7a5; 
    --inseto: #f8d5a3;
    --dragao: #97b3e6;
    --psiquico: #eaeda1;
    --voador:  #F5F5F5;
    --lutador: #E6E0D4;
    --normal: #F5F5F5;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}